@use 'base/variables' as v;  /*indica de donde se toman variables*/
@use 'base/mixins' as m;

.paginacion{
    padding: v.$separacion 0;

    @include m.telefono{
        display: flex;
        justify-content: space-between;
    }
  
    button{
        margin: 1.2rem 1.2rem;
    }
    
}
.ocultar{
    visibility: hidden; //hace que el boton paginador se quede en su lugar, solo se oculta
}