
.seccion {
    padding: 5rem 0;
    display: none;
    
    .text-center {
        text-align: center;
    }
}
/*Muestra el contendio oculto, js hace que se muestre */
.mostrar {
    display: block;
}
/*Oculta el contendio y hasta que se de un 
click a alg+un votón se muestra el resto*/
.ocultar {
    display: none;
}
/*
.seccion {
    padding: 5rem 0;
    display: none;
    
    .text-center {
        text-align: center;
    }
}
.mostrar {
    display: block;
}
 
.ocultar {
    display: none;
}
*/